@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  background-color: #E3E3E3;
}

.add-destination{
  height: 60px;
  width: 100%;
}

.new-destination{
  display: block;
  float: left;
  font-size: 200%;
}

.index-image-container{
  border-radius: 300px;
  height: 400px;
  min-width: 400px;
}

.index-image {
  height: 400px;
  overflow: hidden;
}

img{
  border-radius: 50%;
  height: 400px;
  width: 400px;
  overflow: hidden;
  background-color: #CB5D5E;
  line-height: 10em;
  text-align: center;
  font-size: 200%;
}

.row{
  max-width: 98%;
}

.filter-button-menu{
  width: 100%;
  text-align: center;
  background: #078DB8;
}

.filter-button {
  margin: 0%;
  padding-bottom: 16px;
}

.filter-button:hover {
  background-color: #1f657c;
}

#add-celestial {
  background-color: #619599;
  width: 100%;
  margin: 0%;
  padding-bottom: 16px;
}

.celestial-list {
  text-align: center
}

a {
  margin: 0%;
}

#title{
  font-size: 10rem;
  text-align: center;
  padding: 7% 0%;
  background-image: url('https://media.giphy.com/media/fpxcvLYnRZKlG/giphy.gif');
  background-repeat: no-repeat center;
  background-position: center center;
  background-size: 100%;
  color: white;
  font-family: 'Teko', sans-serif;

}

.celestial-tile{
  margin: 3% 2%;
  display: inline-block;
  text-align: center;
  min-width: 400px;

}

.celestial-info{
  padding: auto;
  margin: 2% 0% 0% 0%;
  text-align: center;
}

.celestial-info p, .celestial-info .celestial-name {
  font-family: 'Teko', sans-serif;
}

.celestial-info .celestial-name {
  font-size: 5rem;
}

.celestial-info p {
  font-size: 2rem;
  margin-bottom: 0%;
}
